docs/DSMR-to-InfluxDb.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>58f7819e-016a-1000-6301-781731b8e34b</groupId>
    <name>DSMR-to-InfluxDb</name>
    <snippet>
        <connections>
            <id>366fbf5c-bc5e-37ee-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>5caddee5-4a23-3e8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>d725a66f-23cf-3b50-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4ae9d244-153a-321c-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>535b0d93-22b6-39fa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>8ac41084-7f71-32e5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8afe90c3-1e3b-3b81-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>d725a66f-23cf-3b50-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Valid</selectedRelationships>
            <source>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>535b0d93-22b6-39fa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e4ef88bb-9e68-3ed8-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>470.0</x>
                <y>684.0138854980469</y>
            </bends>
            <bends>
                <x>470.0</x>
                <y>734.0138854980469</y>
            </bends>
            <destination>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>5caddee5-4a23-3e8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>92cc7d39-5740-310d-0000-000000000000</groupId>
                <id>5caddee5-4a23-3e8f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>535b0d93-22b6-39fa-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>232.01388549804688</y>
            </position>
            <bundle>
                <artifact>nifi-dsmr-parser-nar</artifact>
                <group>nl.basjes.dsmr</group>
                <version>0.1-SNAPSHOT</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors/>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties/>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Parse DSMR records</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>BadRecords</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>InvalidCRC</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Valid</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>nl.basjes.dsmr.nifi.DSMRParserProcessor</type>
        </processors>
        <processors>
            <id>5caddee5-4a23-3e8f-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <position>
                <x>7.0</x>
                <y>644.0138854980469</y>
            </position>
            <bundle>
                <artifact>nifi-influxdb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>
                            <name>influxdb-dbname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-url</key>
                        <value>
                            <name>influxdb-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>InfluxDB Max Connection Time Out (seconds)</key>
                        <value>
                            <name>InfluxDB Max Connection Time Out (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-username</key>
                        <value>
                            <name>influxdb-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-password</key>
                        <value>
                            <name>influxdb-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-charset</key>
                        <value>
                            <name>influxdb-charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>
                            <name>influxdb-consistency-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>
                            <name>influxdb-retention-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>
                            <name>influxdb-max-records-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>energy</value>
                    </entry>
                    <entry>
                        <key>influxdb-url</key>
                        <value>http://localhost:8086</value>
                    </entry>
                    <entry>
                        <key>InfluxDB Max Connection Time Out (seconds)</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>influxdb-username</key>
                    </entry>
                    <entry>
                        <key>influxdb-password</key>
                    </entry>
                    <entry>
                        <key>influxdb-charset</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>ONE</value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>autogen</value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>1 MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutInfluxDB</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure-max-size</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.influxdb.PutInfluxDB</type>
        </processors>
        <processors>
            <id>8ac41084-7f71-32e5-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <position>
                <x>1.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-sensor-stream-cutter-nar</artifact>
                <group>nl.basjes.iot</group>
                <version>0.1-SNAPSHOT</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input filename/character device</key>
                        <value>
                            <name>Input filename/character device</name>
                        </value>
                    </entry>
                    <entry>
                        <key>End-of-record regex</key>
                        <value>
                            <name>End-of-record regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max characters per record</key>
                        <value>
                            <name>Max characters per record</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input filename/character device</key>
                        <value>/dev/ttyUSB0</value>
                    </entry>
                    <entry>
                        <key>End-of-record regex</key>
                        <value>\r\n![0-9A-F]{4}\r\n</value>
                    </entry>
                    <entry>
                        <key>Max characters per record</key>
                        <value>10240</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>Read records from /dev/ttyUSB0</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>nl.basjes.iot.nifi.SensorStreamCutterProcessor</type>
        </processors>
        <processors>
            <id>d725a66f-23cf-3b50-0000-000000000000</id>
            <parentGroupId>92cc7d39-5740-310d-0000-000000000000</parentGroupId>
            <position>
                <x>6.0</x>
                <y>445.0138854980469</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>-ignored-</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>electricity,equipmentId=${dsmr.equipmentId},p1Version=${dsmr.p1Version} electricityReceivedLowTariff=${dsmr.electricityReceivedLowTariff},electricityReceivedNormalTariff=${dsmr.electricityReceivedNormalTariff},electricityReturnedLowTariff=${dsmr.electricityReturnedLowTariff},electricityReturnedNormalTariff=${dsmr.electricityReturnedNormalTariff},electricityTariffIndicator=${dsmr.electricityTariffIndicator},electricityPowerReceived=${dsmr.electricityPowerReceived},electricityPowerReturned=${dsmr.electricityPowerReturned},powerFailures=${dsmr.powerFailures}i,longPowerFailures=${dsmr.longPowerFailures}i,voltageSagsPhaseL1=${dsmr.voltageSagsPhaseL1}i,voltageSagsPhaseL2=${dsmr.voltageSagsPhaseL2}i,voltageSagsPhaseL3=${dsmr.voltageSagsPhaseL3}i,voltageSwellsPhaseL1=${dsmr.voltageSwellsPhaseL1}i,voltageSwellsPhaseL2=${dsmr.voltageSwellsPhaseL2}i,voltageSwellsPhaseL3=${dsmr.voltageSwellsPhaseL3}i,voltageL1=${dsmr.voltageL1},voltageL2=${dsmr.voltageL2},voltageL3=${dsmr.voltageL3},currentL1=${dsmr.currentL1},currentL2=${dsmr.currentL2},currentL3=${dsmr.currentL3},powerReceivedL1=${dsmr.powerReceivedL1},powerReceivedL2=${dsmr.powerReceivedL2},powerReceivedL3=${dsmr.powerReceivedL3},powerReturnedL1=${dsmr.powerReturnedL1},powerReturnedL2=${dsmr.powerReturnedL2},powerReturnedL3=${dsmr.powerReturnedL3} ${dsmr.timestamp.epochSecond}000000000</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Convert to line protocol</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
    </snippet>
    <timestamp>04/26/2019 14:19:44 CEST</timestamp>
</template>
